.boton_top1{
    background-color: #008CFF;
    color:antiquewhite;
    border: 1px solid black;
    border-radius: 10px;

    padding-left: 15px;
    padding-right: 15px;
    
}
.boton_top2{
    border: 1px solid black;
    border-radius: 10px;

    padding-left: 15px;
    padding-right: 15px;
}
.row{
    background-color: #008CFF;
}
section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section .botones{
    width: 100%;
    height: 60px;
    margin-top: 20px;
}
section .categorias{
    width: 30%;
    /*height: 300px;*/
    border: 1px solid black;
}
section .sitios{
    width: 70%;
    height: 300px;
    border: 1px solid black;
}
.col-sm{
    border: 1px solid black;
    text-align: center;
    color:white;
}
.tituloC{
    text-align: center;
    color: #008CFF;
}