body {
  padding: 100px;
}

/* tabla */
.rowthead {
  font-weight: bold;
  font-size: 16px !important;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

tbody tr td {
  text-align: center;
  vertical-align: middle;
}

tr.rowthead th {
  width: 100px !important;
}

/* List group https://getbootstrap.com/docs/5.0/components/list-group/  */
#categorias button {
  border-style: groove;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 50px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  -webkit-transition: width 1s ease-in-out, color 1s, font-size 1s;
  -moz-transition: width 1s ease-in-out, color 1s, font-size 1s;
  -o-transition: width 1s ease-in-out, color 1s, font-size 1s;
  transition: width 1s ease-in-out, color 1s, font-size 1s;
  transition: width 1s, height 1s, font-size 0.2s, background-color 0.2s,
    transform 0.2s;
}

#categorias button:hover {
  background-color: #0d6dfd6e;
  color: black;
  font-size: 18px;
  font-weight: bold;

  -webkit-transition: width 1s ease-in-out, color 1s, font-size 1s;
  -moz-transition: width 1s ease-in-out, color 1s, font-size 1s;
  -o-transition: width 1s ease-in-out, color 1s, font-size 1s;
  transition: width 1s ease-in-out, color 1s, font-size 1s;
  transition: width 1s, height 1s, font-size 0.2s, background-color 0.2s,
    transform 0.2s;
}

#categorias button:active {
  background-color: rgba(0, 0, 0, 0.452);
}

#categorias button.active:active {
  background-color: rgba(0, 0, 0, 0.452);
}

#categorias button.active {
  color: rgb(255, 255, 255) !important;
  font-size: 18px !important;
  font-weight: bold !important;
}